PORT=3000
MONGO_URI=mongodb://mongo:27017/modulopracticas
JWT_SECRET=super_secret_for_jwt

# Credenciales VTEX (Seeding variables, reemplazar en prod)
VTEX_APP_KEY=tu_app_key_aqui
VTEX_APP_TOKEN=tu_app_token_aqui
VTEX_ACCOUNT_NAME=tu_account_name_aqui
